@use "../global/variables" as *;

.header {
    $root: &;


    background-color: $color-nero;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;


    &__wrapper {
        padding: 12px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        color: $color-white;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__logo-icon {
        color: $color-turbo;
    }

    &__logo-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 26px;
        user-select: none;

        & span:last-child {
            font-weight: 600;
            font-size: 12px;
            color: $color-suva-grey;
        }
    }

    &__nav {
        display: flex;
        gap: 10px;
        margin-left: 30px;
    }

    &__nav-item {
        font-size: 20px;
        line-height: 12px;
        color: $color-silver;
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 60px;
        transition: color $transition-300, background-color $transition-300;
        user-select: none;
        cursor: pointer;

        &:hover, &:focus-visible {
            background-color: $color-suva-grey;
            color: $color-white;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        width: 100px;
        justify-content: flex-end;
         border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover, &:focus-visible {
            #{$root}__btn-icon  {
                color: $color-turbo;
            }
        }
    }

    &__btn-icon {
        width: 30px;
        height: 30px;
        color: $color-suva-grey;
        transition: color $transition-300;
    }

    &__user-nickname {
        color: $color-turbo;
        font-size: 20px;
    }

}