@use "../global/variables" as *;
@use "../global/mixins" as *;

.header {
    $root: &;


    background-color: $color-nero;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;



    &__wrapper {
        padding: 12px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        color: $color-white;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__logo-icon {
        color: $color-turbo;
    }

    &__logo-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 26px;
        user-select: none;

        & span:last-child {
            font-weight: 600;
            font-size: 12px;
            color: $color-suva-grey;

            @include vp-1023 {
                display: none;
            }
        }
    }

    &__burger {
        display: none;
        color: $color-suva-grey;
        transition: $transition-300;
        background-color: transparent;
        padding: 0;
        border: none;
        width: 50px;
        height: 50px;
        position: relative;

        // &:first-child {
        //     animation: 2s burgerSlideDown;
        // }

        &:hover, *:focus-visible {
            color: $color-turbo;
        }

        @include vp-1023 {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
            justify-content: center;
        }

        &--active {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0;

            @include vp-1023 {
                position: absolute;
                padding: 10px 20px;
                height: 100vh;
                width: 100vw;
                top: 0;
                left: 0;
                background-color: $color-dim-gray;
            }
            #{$root}__burger-line {
                position: absolute;
                right: 40px;
                width: 50px;
                height: 3px;

                &:nth-child(1) {
                    top: 40px;
                }
                &:nth-child(2) {
                    top: 53px;
                }
                &:nth-child(3) {
                    top: 66px;
                }
            }
            #{$root}__nav {
                position: absolute;
                top: 100px;
                z-index: 10;       
            }
        }
    }

    &__burger-line {
        height: 3px;
        background-color: $color-suva-grey;
        width: 100%;
        transform: translateY(0) rotate(0);
    }

    &__nav {
        display: flex;
        gap: 10px;
        margin-left: 30px;

        @include vp-1023 {
            display: none;
        }
    }

    &__nav-item {
        font-size: 20px;
        line-height: 12px;
        color: $color-silver;
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 60px;
        transition: color $transition-300, background-color $transition-300;
        user-select: none;
        cursor: pointer;

        &:hover, &:focus-visible {
            background-color: $color-suva-grey;
            color: $color-white;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        width: 100px;
        justify-content: flex-end;
         border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover, &:focus-visible {
            #{$root}__btn-icon  {
                color: $color-turbo;
            }
        }

        @include vp-1023 {
            width: auto;
        }
    }

    &__btn-icon {
        width: 30px;
        height: 30px;
        color: $color-suva-grey;
        transition: color $transition-300;

        @include vp-1023 {
            width: 50px;
                        height: 50px;
        }

        & svg {
            
                    @include vp-1023 {
                        width: 50px;
                        height: 50px;
                    }

        }
    }

    &__user-nickname {
        color: $color-turbo;
        font-size: 20px;
    }

}

@keyframes burgerSlideDown {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(100px) rotate(0);
    }

    100% {
        transform: translateY(100px) rotate(-90deg);
    }
}