@use "../global/variables" as *;
@use "../global/mixins" as *;

.header {
    $root: &;

    background-color: $color-nero;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &__wrapper {
        padding: 12px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include vp-767 {
            padding: 10px 0;
        }
    }

    &__logo {
        color: $color-white;
        display: flex;
        gap: 10px;
        align-items: center;

        @include vp-767 {
            gap: 5px;
        }
    }

    &__logo-icon {
        color: $color-turbo;

        @include vp-767 {
            svg {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__logo-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 26px;
        user-select: none;

        @include vp-767 {
            font-size: 18px;
        }

        & span:last-child {
            font-weight: 600;
            font-size: 12px;
            color: $color-suva-grey;

            @include vp-1023 {
                display: none;
            }
        }
    }

    &__burger {
        display: none;
        color: $color-suva-grey;
        transition: $transition-300;
        background-color: transparent;
        padding: 0;
        border: none;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 101;

        &:hover, &:focus-visible {
            color: $color-turbo;
        }

        @include vp-1023 {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;
            justify-content: center;
        }

        &--active {
            #{$root}__burger-line {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 50%;
                    position: absolute;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 50%;
                    position: absolute;
                }
            }

            & + #{$root}__nav {
                transform: translateX(0);
            }
        }
    }

    &__burger-line {
        height: 3px;
        background-color: $color-suva-grey;
        width: 100%;
        transition: $transition-300;
    }

    &__nav {
        display: flex;
        gap: 10px;
        margin-left: 30px;

        @include vp-1023 {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color-nero;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            margin-left: 0;
            transform: translateX(100%);
            transition: transform $transition-300;
            z-index: 100;
        }

        @include vp-767 {
            gap: 20px;
        }
    }

    &__nav-item {
        font-size: 20px;
        line-height: 12px;
        color: $color-silver;
        background-color: transparent;
        padding: 15px 25px;
        border-radius: 60px;
        transition: color $transition-300, background-color $transition-300;
        user-select: none;
        cursor: pointer;

        @include vp-1023 {
            font-size: 24px;
            padding: 10px 20px;
        }

        @include vp-767 {
            font-size: 18px;
            padding: 8px 16px;
        }

        &:hover, &:focus-visible {
            background-color: $color-suva-grey;
            color: $color-white;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        width: 100px;
        justify-content: flex-end;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover, &:focus-visible {
            #{$root}__btn-icon {
                color: $color-turbo;
            }
        }

        @include vp-1023 {
            width: auto;
        }
    }

    &__btn-icon {
        width: 30px;
        height: 30px;
        color: $color-suva-grey;
        transition: color $transition-300;

        @include vp-1023 {
            width: 40px;
            height: 40px;
        }

        svg {
            width: 30px;
            height: 30px;

            @include vp-1023 {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__user-nickname {
        color: $color-turbo;
        font-size: 20px;

        @include vp-767 {
            font-size: 16px;
        }
    }
}