@use "../global/variables" as *;
@use "../global/mixins" as *;

.hero {
    padding-top: 88px;
    background: url(/hero.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    @include vp-1023 {
        padding-top: 70px;
        min-height: 80vh;
    }

    @include vp-767 {
        padding-top: 60px;
        min-height: 70vh;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-black-70;
    }

    &__wrapper {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 1200px;
        gap: 20px;

        @include vp-1023 {
            max-width: 800px;
        }

        @include vp-767 {
            gap: 15px;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        font-size: 80px;
        color: $color-white;
        margin: 0;

        @include vp-1023 {
            font-size: 56px;
        }

        @include vp-767 {
            font-size: 32px;
        }

        &--highlight {
            color: $color-turbo;
        }
    }

    &__text {
        margin: 0 0 30px;
        color: $color-silver;
        font-size: 32px;

        @include vp-1023 {
            font-size: 24px;
            margin: 0 0 20px;
        }

        @include vp-767 {
            font-size: 16px;
            margin: 0 0 15px;
        }
    }

    &__links {
        display: flex;
        justify-content: flex-start;
        gap: 20px;

        @include vp-767 {
            flex-direction: column;
            width: 100%;
            gap: 15px;
        }
    }

    &__link {
        width: auto;
        min-width: 215px;
        height: 55px;
        border: 1px solid $color-white;
        color: $color-white;
        padding: 7px 12px;
        border-radius: 5px;
        font-size: 22px;
        font-family: $ff-play;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color $transition-300, background-color $transition-300, border $transition-300;

        @include vp-1023 {
            min-width: 180px;
            height: 50px;
            font-size: 18px;
        }

        @include vp-767 {
            min-width: 100%;
            height: 45px;
            font-size: 16px;
        }

        &--color {
            background-color: $color-turbo;
            border: 1px solid $color-turbo;
            color: $color-black;

            &:hover, &:focus-visible {
                border: 1px solid $color-white;
                color: $color-white;
                background-color: transparent;
            }
        }

        &:hover, &:focus-visible {
            border: 1px solid $color-turbo;
            color: $color-turbo;
        }
    }
}