//COLORS
$color-lightning-yellow: #F7A235;
$color-turbo: #F6D31A;
$color-black: #000000;
$color-nero: #222222;
$color-white: #ffffff;
$color-suva-grey: #8b8b8b;
$color-silver: #b9b9b9;
$color-white-smoke: #F6F6F6;
$color-dim-gray: #656565;
$color-moon-yellow: #F6BF1A;
$color-persian-red: #CF3131;


//TYPOGRAPHY
$ff-play: "Play", sans-serif;


//VIEWPORT
$vp-tablet: 767px;


$transition-300: ease-in 0.3s ;